<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276806084837-5evkih2dre1bhoekfgocbg5m35fm1ef6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276806084837-5evkih2dre1bhoekfgocbg5m35fm1ef6</string>
	<key>API_KEY</key>
	<string>AIzaSyCT8qs90mjVxXo2LCr8IudgEqYVUtqJwfo</string>
	<key>GCM_SENDER_ID</key>
	<string>276806084837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mazeed.MyBooks</string>
	<key>PROJECT_ID</key>
	<string>mybooksapp-6b26e</string>
	<key>STORAGE_BUCKET</key>
	<string>mybooksapp-6b26e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276806084837:ios:a6f3a1e61a25dfdbad8c0c</string>
</dict>
</plist>